@import "~bootstrap/scss/bootstrap";
@import "~react-alice-carousel/lib/alice-carousel.css";

@import "./Styles/Variables.scss";
@import "./Styles/Globals.scss";
@import "./Styles/App.scss";
@import "./Styles/Sidebar.scss";
@import "./Styles/AboutMe.scss";
@import "./Styles/TechCards.scss";
@import "./Styles/Woodshop.scss";
