.about-me-header {
  margin-bottom: 40px;
  h1 {
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
  }

  h3 {
    margin-bottom: 15px;
    color: #929292;
    font-style: italic;
    font-weight: 200;
  }

  p {
    margin-bottom: 20px;
  }

  .resume-button {
    background: $green;
    color: white;
    width: 150px;
    font-weight: 400;
    padding: 5px 0;
  }

  .resume-button:hover {
    color: white;
    background: darken($green, 20%);
  }

  .about-me-image {
    display: flex;
    align-items: center;
    img {
      max-width: 220px;
    }
  }
}

.what-i-do-section {
  margin: 40px 0;

  .col {
    padding: 0;
  }

  h2 {
    border-left: 5px solid $green;
    padding-left: 10px;
    font-weight: 700;
  }

  a {
    color: $green;
  }
}
