$mobile-width: 800px;

.app-wrapper {
  display: flex;
}

.sidebar-section {
  position: fixed;
  padding: 1.5em;
  height: 100vh;
  width: $sidebar-width;
  top: 0;
  left: 0;
  background-color: $light-blue;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.content-section {
  margin-left: $sidebar-width;
  background-color: $dark-blue;
  padding-top: 50px;
  height: 100%;
  width: 100%;

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}
