.app-wrapper {
    display: flex;
  }
  
  .sidebar-section {
    position: fixed;
    padding: 1.5em;
    height: 100vh;
    width: $sidebar-width;
    top: 0;
    left: 0;
    background-color: $light-blue;
  }
  
  .content-section {
    margin-left: $sidebar-width;
    background-color: $dark-blue;
    padding-top: 50px;
    height: 100vh;
    width: 100%;
  }