body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  color: white;
  background-color: $dark-blue;
}

hr {
  background-color: $dark-grey;
  width: 100%;
  height: 1px;
  border: none;
}

p {
  color: #969696;
}
