.sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
  
    h3 {
      font-size:1.3em;
      font-weight: bold;
    }
  
    img {
      margin: 15px auto;
    }
  
    p {
      font-size: 0.85em;
    }
  }
  
  .social-links {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0 25px;
    color: $green;

    a {
        width: 32px;
    }
  }
  
  .social-list-item {
    background: $green;
    border-radius: 50%;
    padding: 0;
    padding-top: 4px;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    color: white;
  }
  
  hr {
    background-color: $dark-grey;
    width: 100%;
    height: 1px;
    border: none;
  }
  
  .site-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    
    li {
      margin: 20px 0;
      list-style: none;
      text-decoration: none;
    }
  }
  
  .site-link {
    color: white;
  
    &:hover {
      text-decoration: none;
      color: $green;
    }
  
    &.is-active {
        color: $green;
        cursor:default;
    }
  }