.language-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  .tech-icon {
    margin-right: 10px;
  }

  img {
    margin-top: -20px;
  }

  h4 {
    color: white;
  }
}

.fa-python {
  color: #306c9e;
}

.fa-golang {
  width: 25px;
}

.fa-react {
  color: #62d4fa;
}

.fa-ember {
  color: rgb(218, 74, 48);
}

.fa-html5 {
  color: #de6e3c;
}

.fa-sass {
  color: #bf6b97;
}

.fa-aws {
  color: #f27516;
}

.fa-swift {
  color: #f75420;
}

.fa-node {
  color: #8bc500;
}

.fa-js-square {
  color: #f1de4f;
}

.fa-docker {
  color: #2391e7;
}

.fa-git {
  color: #e84e31;
}

.fa-jenkins {
  color: #e8b1b1;
}

.fa-angular {
  color: #bd032e;
}
