.woodshop-wrapper {
  h1,
  p {
    text-align: center;
  }
}

.projects-wrapper {
  text-align: left;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;

  li {
    padding: 0 20px;
  }
}

.alice-carousel__stage {
  max-width: 250px;
  display: block;
  margin: auto 0;
}
